@font-face {
    font-family: 'robotoregular';
    src: url('polices/Roboto-Regular/Roboto-Regular-webfont.eot');
    src: url('polices/Roboto-Regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Regular/Roboto-Regular-webfont.woff') format('woff'),
         url('polices/Roboto-Regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('polices/Roboto-Regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: 'robotoregular', Arial, sans-serif;
	font-size: 1.35em;
	background-color: rgb(100,100,120);
}

.infos
{
	font-size: 1.10em;
}

/* Navbar */

.navbar
{
	background-color: #1777E3;
	border-bottom: none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-header > .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover, a:active {
    background-color: #FEFEFE;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #89BEFA;
	color: black;
}

.navbar-default .navbar-header > .navbar-toggle:hover, .navbar-default .navbar-header > .navbar-toggle:focus {
	background-color: #FEFEFE;
}

.navbar-default .navbar-header > .navbar-toggle > .icon-bar {
	background-color: white;
}

.navbar-default .navbar-header > .navbar-toggle:hover > .icon-bar, .navbar-default .navbar-header > .navbar-toggle:focus > .icon-bar {
	background-color: black;
}

/* Fin Navbar */

#blocVideoPres
{
	position: relative;
    width: 100%;
    padding-bottom: 55%;
	padding-left: 0;
	margin-bottom: 5px;
    height: 0;
}

#videoPres
{
	width: 100%;
    height: 100%;
    position: absolute;
}

embed, iframe, object
{
	max-width: 100%;
}

/* Blocs fond blanc */
.rounded
{
	border: 1px solid #e4ffff;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 0px 2px #aaa;
	margin-bottom: 15px;
}