<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.mots-clefs }}">
  <meta name="author" content="{{ site.auteur }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/ie10-viewport-bug-workaround.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/sticky-footer-navbar.css' | relative_url }}">
</head>
<body>
  {% include nav.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
  <!-- Scripts supplémentaires -->
  <script type="text/javascript">
    $('#langages-tab').tab('show')
  </script>
  <!-- -->
</body>
</html>